*{
    margin:0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background: linear-gradient(135deg, #1363DF,#47B5FF);
}
.title{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    color: black;
    font-weight: 100% ;
    word-spacing: 5px;
}
.container{
    height: 100% ;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    margin: auto;
}
.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px #fff;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(1, 59, 175);
}
.container .card img{
    width: 200px;
    height: 150px;
}
.container .card h4{
    font-weight: 600;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
    color:white;
    border:solid #fff;
    
}

.container .card a:hover{
    background: linear-gradient(135deg, rgb(11, 10, 10),#47B5FF);
}

.exit input{
    height: 100%;
    width: 100%;
    outline: none;
    color: rgba(253, 246, 246, 0.884);
    border-radius: 15px;
    background: linear-gradient(135deg, #1363DF,#47B5FF);
    letter-spacing: 2px;
    align-items: center;
    
    
}
.exit input:hover{
    background: linear-gradient(135deg, rgba(234, 10, 10, 0.91),#dc0a0e);
}